<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test</title>

    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }

        html,body {
            min-height: 100%;
            height: 100%;
        }

        div {
            height: 100%;
            color: #fff;
        }

        div:nth-child(odd) {
            background: orange;
        }

        div:nth-child(even) {
            background: blue;
        }

        ul {
            position: fixed;
            top: 0;
            right: 50px;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

<ul>
    <a ng-click="gotoElement('oi1')">Go to middle</a><br/>
    <a ng-click="gotoElement('oi2')">Go to bottom</a>
</ul>

<div ng-view></div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

<script type="text/javascript">
    // var $scope, $location;
    var app = angular.module('myApp', ['ngRoute']);

    app.config(function($routeProvider, $locationProvider){
       // remove o # da url
       // $locationProvider.html5Mode(true);

       $routeProvider

       .when('/', {
          templateUrl : '/other/example1.html',
          controller     : 'myCtrl',
       })

       .when('/example2', {
          templateUrl : '/other/example2.html',
          controller     : 'myCtrl2',
       })

       .otherwise ({ redirectTo: '/' });
    });

    app.service('anchorSmoothScroll', function(){

        this.scrollTo = function(eID) {

            // This scrolling function
            // is from http://www.itnewb.com/tutorial/Creating-the-Smooth-Scroll-Effect-with-JavaScript

            var startY = currentYPosition();
            var stopY = elmYPosition(eID);
            var distance = stopY > startY ? stopY - startY : startY - stopY;
            if (distance < 100) {
                scrollTo(0, stopY); return;
            }
            var speed = Math.round(distance / 100);
            if (speed >= 20) speed = 20;
            var step = Math.round(distance / 25);
            var leapY = stopY > startY ? startY + step : startY - step;
            var timer = 0;
            if (stopY > startY) {
                for ( var i=startY; i<stopY; i+=step ) {
                    setTimeout("window.scrollTo(0, "+leapY+")", timer * speed);
                    leapY += step; if (leapY > stopY) leapY = stopY; timer++;
                } return;
            }
            for ( var i=startY; i>stopY; i-=step ) {
                setTimeout("window.scrollTo(0, "+leapY+")", timer * speed);
                leapY -= step; if (leapY < stopY) leapY = stopY; timer++;
            }

            function currentYPosition() {
                // Firefox, Chrome, Opera, Safari
                if (self.pageYOffset) return self.pageYOffset;
                // Internet Explorer 6 - standards mode
                if (document.documentElement && document.documentElement.scrollTop)
                    return document.documentElement.scrollTop;
                // Internet Explorer 6, 7 and 8
                if (document.body.scrollTop) return document.body.scrollTop;
                return 0;
            }

            function elmYPosition(eID) {
                var elm = document.getElementById(eID);
                var y = elm.offsetTop;
                var node = elm;
                while (node.offsetParent && node.offsetParent != document.body) {
                    node = node.offsetParent;
                    y += node.offsetTop;
                } return y;
            }

        };

    });

    app.controller('myCtrl', function($scope, $location, anchorSmoothScroll){
        $scope.gotoElement = function (eID){
          // set the location.hash to the id of
          // the element you wish to scroll to.
          $location.hash(eID);

          // call $anchorScroll()
          anchorSmoothScroll.scrollTo(eID);

        };

      // anchorSmoothScroll.scrollTo('oi2');
    });

    app.controller('myCtrl2', function($scope){
        $scope.title = 'Le title';
    });
</script>
</body>
</html>